# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Testing / coverage
coverage/

# TS build info
*.tsbuildinfo
